<% if(success && success.length){ %>
    <h1 style="color: rgb(0, 255, 0);">
        <%= success %>
    </h1>
<% } %>

<% if(error && error.length){ %>
    <h1 style="color: rgb(255, 0, 0);">
        <%= error %>
    </h1>
<% } %>